.tophader{
    background: #1f2432;
}

.n-links{
    font-family: 'Varela Round', sans-serif;
}


.header-content{
    display: flex;
    align-items: center;
    padding: 10px 0px;
}

.header-content p{
    margin: 0px;
    color: white;
}

.header-content a{
    text-decoration: none;
    padding: 0px 10px;
}

.social .icon{
    color: white;
}

nav{
    position: relative;
    display: flex;
 
    align-items: center;
    background-color: white;
    box-shadow: 1px 3px 12px 0px #00000021;

    z-index: 11111;
}


nav .navlinks ul{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

nav .navlinks ul li{
    font-weight: 500;
    padding: 8px 8px;
    color: black;
}

.n-links:hover{
    background-color: rgb(240, 240, 240);
border-radius: 5px;
transition: all 0.5s ease-in-out;
}

.nav-btn p{
    margin: 0px;
    background-color: #4c9bd4;
    color: white;
    line-height: 2.5;
    padding: 0px 15px;
    border-radius: 5px;
    font-weight: 200;
    letter-spacing: 1px;
}

footer{
    /* background-color: #dee2e6; */
    background-color: rgb(245, 245, 245);
}

footer p{
    font-size: 13px;
font-family: 'Varela Round', sans-serif;
width: 80%;
text-align: justify;
margin:30px 10px;
}

footer h5{
    font-family: 'Varela Round', sans-serif;
margin-bottom: 30px;
}

footer span{
    font-family: 'Varela Round', sans-serif;
    font-size: 14px;
    color: black;

}

footer .icon{
    font-size: 30px;
 
}

footer .icon2{
    font-size: 23px;
 
}

.licence{
border-top: 1px solid gray;
}

.licence .font{
    background-color: rgb(245, 245, 245);
margin: 0px !important;
    padding: 10px 10px !important;
    text-align: center !important; 
    font-family: 'Varela Round', sans-serif;
color: black;
font-size: 13px;
font-weight: 500;
letter-spacing: 1px;
}

.footer-links{
    transition: all 0.3s ease-in-out;
}

.footer-links:hover{
    letter-spacing: 1px;
}