.linkstyle-disable{
    text-decoration: none;
}

p{
  text-align: justify !important;
}

.banner1{
    height: auto;
    width: auto;
}
.mainbanner{
background-color: #eaf6ff;
}
.banner-content{
    
    position: relative;
}

.banner-content h1{
    padding-bottom:30px ;
    z-index: 111;
    font-family: 'Artifika', serif;

}

.banner-content p{
font-weight: 300;
margin-bottom: 50px;
font-family: 'Varela Round', sans-serif;
}

.banner-btn{
    text-decoration: none;
    color: white;
    background-color: #272974;
    font-weight: 500;
    padding: 15px 30px;
    border-radius: 4px; 
}

.shape1{
    background-image: url('./img/shape-37.png');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    animation: rotate linear 60s infinite ;
}


@keyframes rotate {
    from {transform: rotate(180deg);}
    to {transform: rotate(-180deg);}
  }

  .shape-round-yellow{
    height: 80px;
    width: 80px;
    background-color: #f8b81f;
    border-radius: 50px;
    position: absolute;
     animation: slide ease-in-out 30s infinite alternate;
  
    }

  .shape-round-blue{
    height: 80px;
    width: 80px;
    background-color: #272974;
    bottom: 40px;
    border-radius: 50px;
    position: absolute;
     animation: slide ease-in-out 30s infinite alternate;
  
  }

  @keyframes slide {
    0% {transform: translateY(30px);}
    50% {transform: translateY(-40px);}
    100% {transform: translateX(-30px);}
  }

  .tagline-section{
    background-color: #272974;
  }

  .heightlight-card{
    color: white;
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .heightlight-card p{
  margin: 0px;
font-family: 'Varela Round', sans-serif;
letter-spacing: 1px;
line-height: 2;
}

.heightlight-card h5{
    margin: 0px;
    font-size: 20px;
    font-weight: 500;
  font-family: 'Varela Round', sans-serif;
  letter-spacing: 1px;
  }

  .heightlight-card .icon{
    color: white;
    background-color: #ffffff07;
    font-size: 70px;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0px 0px 9px 0px #0000004f;
  }

 

  .default-font{
  font-family: 'Varela Round', sans-serif !important;
  }

  .underline{
    height: 3px;
    width: 80px;
    background-color: black;
    border-radius: 50px;
    margin:0px 8px;
  }

  .underline-book{
font-size: 20px;
background-color: black;
color: white;
padding: 2px;
border-radius: 50px;
  }

  .header-tagline{
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
  }


  .class-card{
border-radius: 5px;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 25px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  }

  .class-card .icon{
font-size: 30px;
  }



  .subj-icon{
height: 40px;
  width: 40px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position:center ;
  transition: all 0.3s ease-in-out;
  }

/* red */
  .class-red-bg{
    background-color: #ee4a6212;
  }

    .class-red-bg:hover{
background-color: #ee4a62;
box-shadow: 0px 0px 0px 0px gray;
  }

  .font-red{
    color: #ee4a62;
  }

  .class-card:hover .font-red{
color: white;
  }

  .english{
    background-image:url('./img/icons/eng-red.png');
    
  }
  
  .class-card:hover .english{
    background-image:url('./img/icons/eng-light.png');
  }

  .art{
    background-image:url('./img/icons/art.png');
    
  }
  
  .class-card:hover .art{
    background-image:url('./img/icons/art-white.png');
  }

  .bharath{
    background-image:url('./img/icons/bharatha.png');
    
  }
  
  .class-card:hover .bharath{
    background-image:url('./img/icons/bharatha-white.png');
  }

  .yoga{
    background-image:url('./img/icons/yoga.png');
    
  }
  
  .class-card:hover .yoga{
    background-image:url('./img/icons/yoga-white.png');
  }

/* green */
  .class-green-bg{
    background-color: #effaf8;
  }

    .class-green-bg:hover{
background-color: #23b9a1;

  }

  .font-green{
color: #23b9a1;
  }

  .class-card:hover  .font-green{
    color: white;
  }

  .number{
    background-image:url('./img/icons/numaric-green.png');
    
    }
    
    .class-card:hover .number{
    background-image:url('./img/icons/numaric-white.png');
    }

    .puzzel{
      background-image:url('./img/icons/puzzle.png');
      
      }
      
      .class-card:hover .puzzel{
      background-image:url('./img/icons/puzzle-white.png');
      }

      .martial{
        background-image:url('./img/icons/martial.png');
        
        }
        
        .class-card:hover .martial{
        background-image:url('./img/icons/martial-white.png');
        }
    
/* l-green */
  .class-l-green-bg{
    background-color: #0ecd7312;
  }

    .class-l-green-bg:hover{
background-color: #0ecd73;

  }

  .font-l-green{
color: #0ecd73;
  }

  .class-card:hover  .font-l-green{
    color: white;
  }

  .nature{
    background-image:url('./img/icons/nature.png');
    
    }
    
    .class-card:hover .nature{
    background-image:url('./img/icons/nature-white.png');
    }

    .math{
      background-image:url('./img/icons/maths.png');
      
      }
      
      .class-card:hover .math{
      background-image:url('./img/icons/maths-white.png');
      }

    /* yellow */

.accessory{
  background-image:url('./img/icons/accessory.png');
}

.class-card:hover .accessory{
  background-image:url('./img/icons/accessory-white.png');
}

.zumba{
  background-image:url('./img/icons/zumba.png');
}

.class-card:hover .zumba{
  background-image:url('./img/icons/zumba-white.png');
}


.meditation{
  background-image:url('./img/icons/meditation.png');
}

.class-card:hover .meditation{
  background-image:url('./img/icons/meditation-white.png');
}

.font-yello{
  color: #f8b81f;
    }
  
    .class-card:hover  .font-yello{
      color: white;
    }

.class-yello-bg{
  background-color: #f8b81f12;
}

  .class-yello-bg:hover{
background-color: #f8b81f;

}

/* purple */
.science{
  background-image:url('./img/icons/science-purple.png');
  
}

.class-card:hover .science{
  background-image:url('./img/icons/science-white.png');
}

.storytime{
  background-image:url('./img/icons/story.png');
  
}

.class-card:hover .storytime{
  background-image:url('./img/icons/story-white.png');
}

.rock{
  background-image:url('./img/icons/rock.png');
  
}

.class-card:hover .rock{
  background-image:url('./img/icons/rock-white.png');
}

.class-purple-bg{
  background-color: #f9259612;
}

  .class-purple-bg:hover{
background-color: #f92596;

}


/*brown */
.clay-modeling{
  background-image:url('./img/icons/clay-modeling.png');
  
}

.class-card:hover .clay-modeling{
  background-image:url('./img/icons/clay-modeling-white.png');
}

.class-brown{
  background-color: #fff3dcb0;
}

  .class-brown:hover{
background-color: #C69774;
}

/*skyblue */
.sciencefun{
  background-image:url('./img/icons/sciencefun.png');
  
}

.class-card:hover .sciencefun{
  background-image:url('./img/icons/sciencefun-white.png');
}

.class-s-blue{
  background-color: #39c0fa12;
}

  .class-s-blue:hover{
background-color: #39c0fa;
}

/*rubic */
.puppet{
  background-image:url('./img/icons/puppet-white.png');
  
}

.class-card:hover .puppet{
  background-image:url('./img/icons/puppet.png');
}

.class-rubic{
  background-color: #8e56ff12;
}

  .class-rubic:hover{
background-color: #8e56ff;
}

/*gold */
.treasure{
  background-image:url('./img/icons/treasure.png');
  
}

.class-card:hover .treasure{
  background-image:url('./img/icons/treasure-white.png');
}

.class-gold{
  background-color: #f8941f12;
}

  .class-gold:hover{
background-color: #f8941f;
}

/*sideblue */
.deveop{
  background-image:url('./img/icons/development.png');
  
}

.class-card:hover .deveop{
  background-image:url('./img/icons/development-white.png');
}

.freestyle{
  background-image:url('./img/icons/freestyle.png');
  
}

.class-card:hover .freestyle{
  background-image:url('./img/icons/freestyle-white.png');
}

.class-sideblue{
  background-color: #5866eb12;
}

  .class-sideblue:hover{
background-color: #5866eb;
}

/* end */


.class-t-name{
  color: black;
  transition: all 0.3s ease-in-out;
  text-align: left !important;
  font-size: 14px;
}
.class-card:hover .class-t-name{
  color: white;
}
  
  .class-card p{
font-weight: 500;
font-family: 'Varela Round', sans-serif;
margin: 0px;
letter-spacing: 1px;
  }

.about-content{

}

.about-content h5{
  color: gray;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: 500;
    color: #272974;
    font-weight: 600;
}

.about-content h3{
  font-size:30px;
  font-weight: 600;
}

.about-content p{
  font-size: 14px;
}

.about-content ul{
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

.about-content ul li{
  margin: 4px 4px;
  font-weight: 500;
}


.about-content .icon{

  font-size: 20px;
  color: #ff9400;
}

.shape-kite{
background-image: url('./img/shape-11.png');
height: 300px;
width: 100px;
background-repeat: no-repeat;
position: absolute;
background-size: contain;
top: 0px;
animation: slide ease-in-out 30s infinite alternate;

}

.shape-book{
background-image: url('./img/icon-2.png');
height: 120px;
width: 120px;
background-repeat: no-repeat;
position: absolute;
background-size: contain;
}

.shape-ovel{
  background-image: url('./img/shape-18.png');
height: 60px;
width: 60px;
background-repeat: no-repeat;
position: absolute;
background-size: contain;
bottom: 20%;
right:10%;
animation: slide ease-in-out 30s infinite alternate;
z-index: -11;
}

.shape-ovel2{
  background-image: url('./img/shape-18.png');
height: 60px;
width: 60px;
background-repeat: no-repeat;
position: absolute;
background-size: contain;
top: 20%;
right:2%;
z-index: -1;
animation: slide2 ease-in-out 30s infinite alternate;

}

@keyframes slide2 {
  0% {transform: translateX(10px);}
  50% {transform: translateY(-80px);}
  100% {transform: translateX(0px);}
}

.bg-blue{
  background-color: #eaf6ff7d;
}


.form-model{
  position: fixed;
  top: 0%;
  left: 0%;
  width:100%;
  height: 0vh;
 backdrop-filter: blur(0px);
  z-index: 11111111;
  transition: all 0.3s ease-in-out;
overflow: hidden;
visibility: hidden;

}

.togglemodel{
 
  height: 100vh;
  backdrop-filter: blur(5px);
visibility: visible;
}



.form-control{
font-family: 'Varela Round', sans-serif !important;
  line-height: 1.5 !important;
  font-size: 12px !important;
}

.form-body .form-header{
border-bottom: 2px solid gray;
padding-bottom:2px ;
margin-bottom: 5px;
}

.form-header .icon{
font-size: 40px;
color: gray;
cursor: pointer;
}


.section-img2-contain{
  animation: movew ease-in-out 20s infinite alternate;

}


@keyframes movew {
  0% {transform: translateY(40px);}
  100% {transform: translateY(0px);}
}

.cloud-bg{
  background-image: url('./img/bg/bg-image-1.svg');
}

.cloud-bg-pink{
  background-image: url('./img/bg/bg-image-2.svg');
}

.activity-card{
display: flex;
justify-content: start;
gap: 10px;
align-items: center;
cursor: pointer;
}






/* green */
.icon-bg-green{
  position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
overflow: hidden;
padding: 5px;
z-index: 11;
transition: all 0.3s ease-in-out;
background-image: url('./img/icons/exhabitation.png');
}

.activity-card:hover .icon-bg-green{
background-image: url('./img/icons/exhabitation-white.png');

}

.circle-green{
position: absolute;
height: 0px;
width: 0px;
top: 50%;
background-color:#e8f8f5;
border-radius: 50px;
left: 50%;
transform: translate(-50%, -50%);
transition: all 0.3s ease-in-out;
}

.icon-contain-green{
  position: relative;
  background-color: #e8f8f5;
  border-radius: 50px;
height: 80px;
width: 80px;
overflow: hidden;
}

.activity-card:hover .circle-green{ 
  background-color: #23b9a1;
  height: 80px;
  width: 80px;
}

/* red */
.icon-bg-red{
  position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
overflow: hidden;
padding: 5px;
z-index: 11;
transition: all 0.3s ease-in-out;
background-image: url('./img/icons/movie.png');
}

.activity-card:hover .icon-bg-red{
background-image: url('./img/icons/movie-white.png');

}

.circle-red{
position: absolute;
height: 0px;
width: 0px;
top: 50%;
background-color:#fdedef;
border-radius: 50px;
left: 50%;
transform: translate(-50%, -50%);
transition: all 0.3s ease-in-out;
}

.icon-contain-red{
  position: relative;
  background-color: #fdedef;
  border-radius: 50px;
height: 80px;
width: 80px;
overflow: hidden;
}

.activity-card:hover .circle-red{ 
  background-color: #ee5066;
  height: 80px;
  width: 80px;
}

.activity-card p{
margin: 0px;
font-size: 14px;
}


/* rubic */
.icon-bg-rubic{
  position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
background-image: url('./img/icons/parent.png');
font-size: 60px;
overflow: hidden;
padding: 5px;
z-index: 11;
transition: all 0.3s ease-in-out;
}

.activity-card:hover .icon-bg-rubic{
background-image: url('./img/icons/parent-white.png');
}

.circle-rubic{
position: absolute;
height: 0px;
width: 0px;
top: 50%;
background-color:#f3eeff;
border-radius: 50px;
left: 50%;
transform: translate(-50%, -50%);
transition: all 0.3s ease-in-out;
}

.icon-contain-rubic{
  position: relative;
  background-color: #f3eeff;
  border-radius: 50px;
height: 80px;
width: 80px;
overflow: hidden;
}

.activity-card:hover .circle-rubic{ 
  background-color: #9865ff;
  height: 80px;
  width: 80px;
}

.activity-card p{
margin: 0px;
font-size: 14px;
}


/* pink */
.icon-bg-pink{
  position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
color: #f92596;
background-image: url('./img/icons/sports.png');
overflow: hidden;
padding: 5px;
z-index: 11;
transition: all 0.3s ease-in-out;
}

.activity-card:hover .icon-bg-pink{
background-image: url('./img/icons/sports-white.png');
}

.circle-pink{
position: absolute;
height: 0px;
width: 0px;
top: 50%;
background-color:#fee9f4;
border-radius: 50px;
left: 50%;
transform: translate(-50%, -50%);
transition: all 0.3s ease-in-out;
}

.icon-contain-pink{
  position: relative;
  background-color: #fee9f4;
  border-radius: 50px;
height: 80px;
width: 80px;
overflow: hidden;
}

.activity-card:hover .circle-pink{ 
  background-color: #f92596;
  height: 80px;
  width: 80px;
}

.activity-card p{
margin: 0px;
font-size: 14px;
}


/* blue */
.icon-bg-blue{
  position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
overflow: hidden;
padding: 5px;
z-index: 11;
transition: all 0.3s ease-in-out;
background-image: url('./img/icons/excursion.png');
}

.activity-card:hover .icon-bg-blue{

background-image: url('./img/icons/excursion-white.png');
}

.circle-blue{
position: absolute;
height: 0px;
width: 0px;
top: 50%;
background-color:#eeeffd;
border-radius: 50px;
left: 50%;
transform: translate(-50%, -50%);
transition: all 0.3s ease-in-out;
}

.icon-contain-blue{
  position: relative;
  background-color: #eeeffd;
  border-radius: 50px;
height: 80px;
width: 80px;
overflow: hidden;
}

.activity-card:hover .circle-blue{ 
  background-color: #5866eb;
  height: 80px;
  width: 80px;
}

.activity-card p{
margin: 0px;
font-size: 14px;
}

.book-img-bg{
  height: 45px;
  width: 45px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position:center ;
  transition: all 0.3s ease-in-out;
}

/* yellow */
.icon-bg-yellow{
  position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
background-image: url('./img/icons/celeb.png');
overflow: hidden;
padding: 5px;
z-index: 11;
transition: all 0.3s ease-in-out;
}

.activity-card:hover .icon-bg-yellow{
  color: white;
background-image: url('./img/icons/celeb-white.png');

}

.icon-contain-yellow{
  position: relative;
  background-color: #fef4e8;
  border-radius: 50px;
height: 80px;
width: 80px;
overflow: hidden;
}

.circle-yellow{
position: absolute;
height: 0px;
width: 0px;
top: 50%;
background-color:#fef4e8;
border-radius: 50px;
left: 50%;
transform: translate(-50%, -50%);
transition: all 0.3s ease-in-out;
}

.activity-card:hover .circle-yellow{ 
  background-color: #f8941f;
  height: 80px;
  width: 80px;
}

.activity-card p{
margin: 0px;
font-size: 14px;
}



/* l-red */
.icon-bg-l-red{
  position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
overflow: hidden;
padding: 5px;
z-index: 11;
transition: all 0.3s ease-in-out;
background-image: url('./img/icons/religion.png');
}

.activity-card:hover .icon-bg-l-red{
background-image: url('./img/icons/religion-white.png');
}

.circle-l-red{
position: absolute;
height: 0px;
width: 0px;
top: 50%;
background-color:#fef2f4;
border-radius: 50px;
left: 50%;
transform: translate(-50%, -50%);
transition: all 0.3s ease-in-out;
}

.icon-contain-l-red{
  position: relative;
  background-color: #39c0fa12;
  border-radius: 50px;
height: 80px;
width: 80px;
overflow: hidden;
}


.activity-card:hover .circle-l-red{ 
  background-color: #39c0fa;
  height: 80px;
  width: 80px;
}

.activity-card p{
margin: 0px;
font-size: 14px;
}

.contact-links{
  color: black;
  font-size: 20px;
  font-weight: 500;
margin: 0px;
}

.circle-con{
position: relative;
background-color: white;
height: 60px;
width: 60px;
border-radius: 50px;
}

.circle-or{
  position: absolute;
  margin: 0px;
  font-size: 25px;
  font-weight: 300;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.div-img1{
height: 290px;
width: 100%;
  animation: movew ease-in-out 20s infinite alternate;

}

.div-img2{
  height: 340px;
  width: 100%;
  animation: slide ease-in-out 30s infinite alternate;
}


.icon-book{
  position: absolute;
  top: 20px;
  left: 40px;
background-image: url('./img/icon-2.png');
height: 50px;
width: 50px;
background-size: contain;
background-repeat: no-repeat;
}

.icon-lab{
  position: absolute;
  bottom: 130px;
  right: 0px;
background-image: url('./img/icon-1.png');
height: 50px;
width: 50px;
background-size: contain;
background-repeat: no-repeat;
}


.bread-crub{
background-image: url('./img/bg-image-19.webp');
background-size: cover;
background-repeat: no-repeat;
background-position: center;
position: relative;
width: 100%;
}

.bread-crub h1{
font-family: 'Varela Round', sans-serif;
font-weight: 600;
}

.bread-crub span{
font-family: 'Varela Round', sans-serif;
  color: black;
}

.bg-blur{
position: absolute;
height: 100%;
width: 100%;
backdrop-filter: blur(4px);
top: 0px ;
}

.bg-overlay-black{
position: absolute;
height: 100%;
width: 100%;
background-color: rgba(255, 255, 255, 0.308);
top: 0px ;
}

.bread-content{
  position: absolute;
  z-index: 111;
}


.section-img3{
border-radius: 10px;
}

  .section-img3-contain{
border-radius: 10px;
box-shadow: 0px 0px 8px 0px #0000006b;
  }
  


  
.why-card{
  position: relative;
  width: 100%;
  box-shadow: 0px 0px 9px 0px #e6e6e6;
padding: 0px 20px;
border-radius: 10px 0px 10px 0px;
cursor: pointer;
transition: all 0.3s ease-in-out;
}

.why-card:hover{
  box-shadow: 12px 11px 20px 14px #e6e6e6;
  border-radius: 0px 10px 0px 10px;

}

.icon-bg{
  position: absolute;
  left: 50%;
  top: -25px;
  transform: translateX(-50%);
height: 50px;
width: 50px;
background-color: white;
box-shadow: 0px 0px 9px 0px #d6d6d6;
border-radius: 50px;
transition: all 0.3s ease-in-out;
}

.icon-bg .iconw{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
height: 40px;
width: 40px;
background-size: contain;
background-repeat: no-repeat;
transition: all 0.3s ease-in-out;
border-radius: 50px;
}

.fantasies-icon{
  background-image: url('./img/icons/animated/magic-wand.gif');

}

.process-icon{
  background-image: url('./img/icons/animated/setting.gif');


}

.reality-icon{
  background-image: url('./img/icons/animated/reality.gif');


}

.child-icon{
  background-image: url('./img/icons/animated/recognize.gif');


}

.speak-icon{
  background-image: url('./img/icons/animated/speak.gif');


}

.focus-icon{
  background-image: url('./img/icons/animated/focus.gif');


}

.roleplay-icon{
  background-image: url('./img/icons/animated/rolplay.gif');


}

.minds-icon{
  background-image: url('./img/icons/animated/minds.gif');


}

.creativity-icon{
  background-image: url('./img/icons/animated/creativity.gif');


}

.knowledge-icon{
  background-image: url('./img/icons/animated/aiming.gif');


}


.why-card p{
  position:absolute;
  top: 50px;
width: 85%;
left: 15px;
font-size: 13px;
margin: 0px;
text-align: center !important;

}

.day-card{
border-radius: 10px;
padding: 20px;
background-color: #f5fbff;
/* display: flex; */
/* align-items: center; */
cursor: pointer;
}



.day-card .icon{
font-size: 50px;
margin-right: 20px;
transform: rotateY(0deg);
color: black;
transition: all 0.5s ease-in-out;
}

.day-card:hover .icon{
  transform: rotateY(-360deg);
color: #f2b600;
}

.day-card p{
margin: 0px;
font-weight: 300;
font-size: 13px;
text-align: left !important;
}

.cur-card{
  border-radius: 10px;
  position: relative;
  padding: 20px;
  background-color: white;

}

.cur-card p{
  /* text-align: left !important; */
  color: black;
  /* font-size: 15px; */
  margin: 0px;
  padding-top: 35px;
}

.try-box{
  position: absolute;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  height: 70px;
  width: 70px;
  background-color:#ff9000;
  left: 50%;
  top: -35px;
  transform: translateX(-50%);
}

.try-box .icon{
  position: absolute;
  font-size: 40px;
  color: white !important ;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

 .section-icon .icon{
  background-size:contain ;
  background-repeat: no-repeat;
height: 80px;
width: 80px;
}

.mentel{
  background-image: url('./img/icons/mental-health.png');
}

.recognition{
  background-image: url('./img/icons/Recognition.png');
}

.liberty{
  background-image: url('./img/icons/liberty.png');
}

.cur-content p{
  text-align: left !important;
  font-weight: 600;
}

.font-700{
  font-weight: 700 !important;
}

.contact-content{

}

.contact-content .icon{
font-size: 25px;
color: rgb(100, 100, 100); 

}
.contact-content h2{
  
}

.contact-content h5{
letter-spacing: 1px;
}

.contact-content p{
 color: rgb(100, 100, 100);
 font-size:14px ; 
}

.contact-content a{
  color: black;
  font-weight: 500;
 color: rgb(100, 100, 100);
 font-size:14px ; 

}

.contactform-card{
padding: 30px;
border-radius:10px;
}

.contactform-card h5{
font-family: 'Varela Round', sans-serif;
font-weight: 600;
}

.contactform-card p{
font-family: 'Varela Round', sans-serif;
text-align: left !important;
}

.social-l{
  display: flex;
}

.social-bg{
height: 35px;
width: 35px;
position: relative;
border: 2px solid gray;
border-radius: 50px;
transition: all 0.5s ease-in-out;
}

.bg-round{

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.social-l .icons{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
color: gray;
font-size: 17px;
transition: all 0.5s ease-in-out;
}

.social-bg:hover{
border: 2px solid rgb(18, 93, 255);
}

.social-bg:hover .icons{
color: rgb(18, 93, 255);
}


/* Success message */
.message-body{
  position: fixed;
  top: 0px;
  backdrop-filter: blur(15px);
  height: 100%;
  width: 100%;
  z-index: 11111111;
  transition: all 0.2s ease-in-out;
opacity: 0;
visibility: hidden;
}

.showmessage{
  opacity: 1;
visibility: visible;
}


.s-message{
  position: absolute;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.msg-sent-icon{
background-image: url('./img/icons/animated/message.gif');
height: 100px;
width: 100px;
background-repeat: no-repeat;
background-size: contain;
}

.s-message h5{
  text-align: center !important;
font-weight: 600;
}

.s-message p{
  text-align: center !important;

}